<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643126945358-8f5ojfjofbnap7qhf0ugdkkfernljt6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643126945358-8f5ojfjofbnap7qhf0ugdkkfernljt6v</string>
	<key>API_KEY</key>
	<string>AIzaSyCtaGra2WzOY5T9_PLmO5IPz-WFk3MaJ5M</string>
	<key>GCM_SENDER_ID</key>
	<string>643126945358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ayInvoivingApp</string>
	<key>PROJECT_ID</key>
	<string>invoicing-app-53d36</string>
	<key>STORAGE_BUCKET</key>
	<string>invoicing-app-53d36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643126945358:ios:43c69acea5fce063f1051f</string>
</dict>
</plist>